.Track-container { 
    width: 90%;
    max-width: 650px;
    min-width: 250px;
    margin: 20px;
}

.marker {
    font-size: 20px;
    font-weight: bold;
}

.Track-content {
    padding: 20px 18px;
    overflow: hidden;
    background-color: rgba(221, 226, 235);
    border-radius: 25px;
    border: 2px solid white;
    box-shadow: 0 5px 5px black;
    color: black;
    font-weight: bold;
}

.Track-divider {
    font-size: 30px;
    font-weight: bold;
}

.Track-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Track-btn {
    margin: 10px;
    font-size: 20px;
    border: 2px solid white;
    box-shadow: 0 5px 5px black;
    color: white;
    text-shadow: 0 3px 3px black;
    background-color: transparent;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

.Track-name {
    font-size: 20px;
}

.Track select {
    border: 2px solid black;
    border-radius: 5px;
}