.SignupPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.SignupPage-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border: 2px solid black;
    width: 30%;
    border-radius: 25px;
    height: 400px;
    background-image: radial-gradient( rgba(146, 163, 240, 0.8), rgba(205, 229, 247, .8));
    box-shadow: 8px 3px 7px black;
    border: 1px solid white;
}