.EditPackagePage-form-container {
    border: 2px solid black;
    border-radius: 25px;
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    margin: 10px;
    background-color: rgb(131, 149, 176);
    box-shadow: 8px 3px 7px black;
    border: 1px solid white;
    color: white;;
    text-shadow: 0 3px 3px black;
    font-weight: bold;

}

.EditPackagePage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.EditPackagePage-btn {
    width: 100px;
    font-size: 20px;
    border: 2px solid white;
    box-shadow: 0 5px 5px black;
    background: transparent;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 3px 3px black;
}

.EditPackagePage-btn:hover {
    background-color: rgb(88, 111, 146);
}

.EditPackagePage-select {
    padding: 5px;
    font-size: 20px;
    width: 220px;
    border: 2px solid white;
    box-shadow: 0 5px 5px black;
    border-radius: 5px;
}

 .form-header {
    color: rgb(131, 149, 176);
    text-shadow: 0 3px 3px lightgrey;
     font-weight: bold;
}