.MyPackage-container {
    border: 2px solid black;
    border-radius: 25px;
    width: 60%;
    margin: 20px;
}

.MyPackage-collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.marker {
    font-size: 20px;
    font-weight: bold;
}

.MyPackage-collapsible:active, .MyPackage-collapsible:hover {
    background-color: #ccc;
}

.MyPackage-content {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: 0.2s ease-out;
    border-radius: 0px 0px 25px 25px;
}

.MyPackage-divider {
    font-size: 30px;
    font-weight: bold;
}