.MyPackage-container {
    
    width: 100%;
    max-width: 650px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MyPackage-collapsible {
    background-color: rgb(131, 149, 176);
    color: white;
    text-shadow: 0 3px 3px black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    max-width: 650px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    box-shadow: 0 5px 5px black;
    font-weight: bold;
}

.marker {
    font-size: 20px;
    font-weight: bold;
}

.MyPackage-collapsible:active, .MyPackage-collapsible:hover {
    background-color: rgb(88, 111, 146);
}

.MyPackage-content {
    overflow: hidden;
    /* background-color: rgba(146, 163, 240, 0.8); */
    background-color: rgb(221, 226, 235);
    transition: 0.2s ease-out;
    border-radius: 0px 0px 25px 25px;
    border: 2px solid white;
    box-shadow: 0 5px 5px black;
    color: black;
    /* text-shadow: 0 3px 3px white; */
    font-weight: bold;
    width: 100%;


    
}

.MyPackage-divider {
    font-size: 30px;
    font-weight: bold;
}

.MyPackage-details {
    width: 100%;

}

.MyPackage-btn {
    margin: 10px;
    font-size: 20px;
    border: 2px solid white;
    box-shadow: 0 5px 5px black;
    color: white;
    text-shadow: 0 3px 3px black;
    background-color: rgb(131, 149, 176);
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.MyPackage-name {
    font-size: 20px;
}

.track-div {
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid black;
    margin: 10px;
}

.line {
    width: 200px;
    display: none;
} 

.icon-container {
    display: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.transit-location-container {
    display: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.transit-location {
    width: 33.3%;
    display: none;
}

.spacer-container {
    display: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.edit-button {
    text-decoration: none;
    color: white;

}

.attr-detail {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .icon-container, .space-container, .transit-location, .transit-location-container, .track-div {
        display: flex;
    }

    .line {
        display: block;
    }

    .MyPackage-content {
        padding: 30px 18px;
    }
}