.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  pointer-events: none;
}

.App-trackpaks {
  font-size: 30px;
  padding-right: 40px;
  text-shadow: 2px 2px 0px black;
  font-weight: bold;
  color: white;
}

.App-header {
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 5px 5px black;
  background-color: rgb(88, 111, 146);
}

.App-link {
  color: #61dafb;
}

.App #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.App .sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  padding-top: 15px;
  background-image: radial-gradient( rgba(177, 189, 245, 0.8), rgba(221, 226, 235));
  box-shadow: 8px 3px 7px black;
  border: 1px solid white;
}

.App .sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 22px;
  color: rgb(88, 111, 146);
  display: block;
  transition: 0.4s;
  text-shadow: 0px 3px 3px white;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.App .sidebar a:hover {
  color: white;
  text-shadow: 0px 3px 3px black;
}

.App .closebtn {
  background-color: transparent;
  margin-right: 15px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  text-shadow: 0px 3px 3px black;
  box-shadow: 3px 3px 3px black;
  font-weight: bold;
}

.App .closebtn:hover {
  background-color: rgb(139, 139, 209);
}

.App .closebtn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.App .openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: white;
  padding: 2px 0 0 4px;
  border: 2px solid rgb(131, 149, 176);
  border-radius: 25px;
  box-shadow: 2px 5px 5px black;
  outline: none;
}

.App .openbtn:hover {
  background-color: rgb(221, 226, 235);;
}

.App .welcome-user {
  font-size: 30px;
  color: rgb(88, 111, 146);
  text-shadow: 0 3px 3px white;;
  font-weight: bold;
  margin: 100px 0 20px 0;
}

.App-nav-package-num {
  border-radius: 50px;
  border: 1px solid black;
  width: 25%;
  background-color: blue;
}

.account-link-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

#myaccount-text {
  width: 75%;
}

.App .content {
  height: 100%;
  
  margin-top: 175px;;
}

.App main {
  height: 100%;
}

.App footer {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(88, 111, 146);
  box-shadow: 0 -5px 5px black;
  color: white;
  font-weight: bold;
  text-shadow: 0 3px 3px black;
}

.footer-prop {
  margin: 0 20px;
}

#signup-login {
  margin-top: 100px;
}


@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


.context {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  z-index: 1;
  overflow: scroll;
    
}

.area{
  background-image: rgb(221, 226, 235);  
  background-image: -webkit-linear-gradient(to left, rgb(221, 226, 235), rgb(131, 149, 176));  
  width: 100%;
  height: 100vh;
  background-position: fixed;
  background-repeat: no-repeat;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(88, 111, 146, .5);
  animation: animate 25s linear infinite;
  bottom: -150px;
    
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;

  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
  }

}
