.PackageDetail-container {
    margin: 10px 0;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid white;
    padding: 20px;
    box-shadow: 0 5px 5px black;
    border-radius: 50px;
    border: 2px solid black;
}

.PackageDetail-date {
    width: 50%;
    margin-bottom: 20px;
}

.PackageDetail-location {
    width: 50%;
    margin-bottom: 20px;
}

.PackageDetail-details {
    width: 100%;
}

.PackageDetail-divider {
    width: 100%;
    font-size: 30px;
    text-align: center;
}