.LoginPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.LoginPage-form-container {
    border: 2px solid black;
    border-radius: 25px;
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: radial-gradient( rgba(146, 163, 240, 0.8), rgba(205, 229, 247, .8));
    box-shadow: 8px 3px 7px black;
    border: 1px solid white;
}

.LoginPage-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.LoginPage-form-header {
    margin: 30px 0;
}

.LoginPage-signup-msg {
    font-size: 12px;
}

.LoginPage-message {
    width: 60%;
    margin-bottom: 100px;
}

.header-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}