.LoginPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.LoginPage-form-container {
    border: 2px solid black;
    border-radius: 25px;
    width: 30%;
    min-width: 325px;
    max-width: 550px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(131, 149, 176);
    box-shadow: 8px 3px 7px black;
    border: 1px solid white;
    margin-bottom: 30px;
}

.LoginPage-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.LoginPage-form-header {
    margin: 30px 0;
    color: white;
    text-shadow: 0 3px 3px black;
    font-size: 30px;
    font-weight: bold;
}

.LoginPage-signup-msg {
    font-size: 12px;
}

.LoginPage-message {
    width: 60%;
    margin-bottom: 50px;
}

.header-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginPage-signup-msg {
    color: white;
}

.LoginPage a {
    color: rgb(114, 210, 241);
}

.login-btn {
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    text-shadow: 0 3px 3px black;
    background-color: transparent;
    box-shadow: 0 5px 5px black;
    font-weight: bold;
}

.login-btn:hover {
    background-color: rgb(88, 111, 146);
}

.login-btn-container {
    display: flex;
    justify-content: center;
}