.AddPackagePage-form-container {
    border: 2px solid black;
    border-radius: 25px;
    width: 40%;
    min-width: 325px;
    max-width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    margin: 10px;
    background-color: rgb(131, 149, 176);
    box-shadow: 8px 3px 7px black;
    border: 1px solid white;

}

.AddPackagePage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}

.AddPackagePage-btn {
    width: 100px;
    padding: 5px;
    font-size: 20px;
    border: 2px solid white;
    box-shadow: 0 5px 5px black;
    background: transparent;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 3px 3px black;
    margin: 20px;
}

.AddPackagePage-btn:hover {
    background-color: rgb(88, 111, 146);
}

.AddPackagePage-select {
    padding: 5px;
    font-size: 20px;
    width: 220px;
    border: 2px solid black;
    box-shadow: 0 5px 5px black;
    border-radius: 5px;
}

 .form-p-header {
    color: white;
    text-shadow: 0 3px 3px black;
    font-weight: bold;
    font-size: 30px;
}