body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, blue, rgb(55, 36, 230), rgb(89, 72, 236), rgb(180, 179, 253));
  background-position: no-repeat cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: 0 5px 5px black;
}
