.AccountPage-packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AccountPage-header {
    font-size: 30px;
    color: rgb(88, 111, 146);
    text-shadow: 0 3px 3px white;
    font-weight: bold;
}

.AccountPage-container {
    margin-bottom: 50px;
}