.track-form {
    display: flex;
    flex-direction: column;
    align-items: flex;
    border: 2px solid lightgrey;
    border-radius: 25px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 5px 5px black;
    background-color: rgb(131, 149, 176);
    
}

.carrier-select {
    font-size: 20px;
    padding: 4px;
    box-shadow: 0 5px 5px black;
    border: 2px solid lightgrey;
    
}

.track-btn {
    font-size: 20px;
    padding: 8px;
    box-shadow: 0 5px 5px black;;
    border: 2px solid white;
    background: transparent;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 3px 3px black;
}

.Track {
    display: flex;
    justify-content: center;
}

.Track-tracking {
    margin: 0 10px;
}

.track-header {
    font-size: 30px;
    color: white;
    text-shadow: 0 3px 3px black;
    font-weight: bold;
}

.Track .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
